<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="slaveCfg" type="Test_Slave.SlaveCfgSectionHandler, Test_Slave"/>
  </configSections>
  <slaveCfg>
    <masters>
      <add ip="127.0.0.1" port="12998"/>
      <!--<add ip="127.0.0.1" port="12999"/>-->
    </masters>
    <add key="RevcAndSendTimeout" value="2000"/>
    <!--过期时间，-1表示用不过期，单位 ms-->
    <add key="CacheExpireTM" value="3600000"/>
  </slaveCfg>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
