<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="slaveCfg" type="ZdCache.SlaveCache.SlaveCfgSectionHandler, ZdCache.SlaveCache"/>
  </configSections>
  <slaveCfg>
    <masters>
      <add ip="127.0.0.1" port="12998"/>
      <!--<add ip="127.0.0.1" port="12999"/>-->
    </masters>
    <add key="RevcAndSendTimeout" value="2000"/>
    <add key="CallBackThreadCount" value="4"/>
    <!--最大缓存内存大小，单位 M-->
    <!--缓存总大小的最大值(单位M)。 因目前此处是单进程模式，不同系统下进程能用的最大内存不一样-->
    <!--X86 下，32位进程最大2GB（3GB，设置boot.ini 或者win7下使用bcdedit，同时开启IMAGE_FILE_LARGE_ADDRESS_AWARE）-->
    <!--X64 下，32为进程最大2GB（4GB，开启IMAGE_FILE_LARGE_ADDRESS_AWARE）。 64位进程最大8TB（具体值和操作系统有关）-->
    <!--上述是理想情况，实际因为GAC以及其他的开销，2GB模式下，最大能申请到 1.4-1.6GB的空间-->
    <!--当缓存接近这个最大值时，会主动触发缓存的过期策略-->
    <add key="MaxCacheSize" value="1024"/>
    <!--过期时间，-1表示用不过期，单位 ms-->
    <add key="CacheExpireTM" value="3600000"/>
  </slaveCfg>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
